h1 {
  text-align: center;
  color: white;
  font-family: "Shrikhand", serif;
}

body {
  background-image: url("/images/background.jpg");
  margin: 0;
}

header {
  margin-top: 1rem;
}

header #logo {
  color: white;
}

main {
  background-image: none;
  margin-top: 5rem;
}

form {
  font-family: "Nunito", sans-serif;
  max-width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: rgb(32, 29, 26);
  border-radius: 6px;
  text-align: center;
}

form a {
  color: rgb(250, 191, 143);
}

form a:hover,
form a:active {
  color: rgb(223, 159, 41);
}
